@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>@Model.Customer.Id</td>
                <td>@Model.Customer.Name</td>
                <td>@Model.Customer.Address</td>
                <td>
                    <button type="submit" asp-page-handler="Delete"
                            asp-route-id="@Model.Customer.Id">
                        delete
                    </button>
                </td>
            </tr>
            
        </tbody>

    </table>

    <a asp-page="/Step1" asp-page-handler="@Model.Customer.Id">Wypełnij dane</a>
    <a asp-page="/Create">GUZIK</a>
</form>
